<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Truyền dữ liệu sinh viên từ Controller sang View</title>
</head>
<body>
	<table border = 1px solid>
		<tr>
			<td>MSSV:</td>
			<td th:text = ${mssv}></td>
		</tr>
		<tr>
			<td>Họ và tên sinh viên là:</td>
			<td th:text = ${name}></td>
		</tr>
		<tr>
						
			<td>Năm sinh:</td>
			<td th:text = ${ns}></td>
		</tr>
		<tr>
			<td>Giới tính:</td>
			<td th:text = ${gt}></td>
		</tr>
	</table>
</body>
</html>